---
import Base from '../../layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';
import {FrontmatterPage, IFrontmatter} from "../../types/IFrontMatter";
import { Section, PaginationHeader, BlogGallery, NewerOlderPagination } from "@/components";
import { CTA } from "../../partials/CTA";
import {BlogCard} from "../../components";

interface ContentProps {
  page: FrontmatterPage;
}
const allPosts = await Astro.glob<IFrontmatter>('../posts/*.mdx');
const sortedPosts = sortByDate(allPosts);
const lastThreePosts = sortedPosts.slice(0, 3);

const { page } = Astro.props as ContentProps;
const titleSuffix = ` - ${AppConfig.site_name}`;
const title = titleSuffix;
const description =
  'Blog Pagination';
console.log(lastThreePosts);
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title='Random title here'
      description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    />
  </Section>

  <Section>
    <div className="grid grid-cols-1 gap-6 md:grid-cols-3">
      {lastThreePosts.map((elt) => (
          <BlogCard key={elt.url} instance={elt} />
      ))}
    </div>
  </Section>

  <CTA />
</Base>
